@font-face {
	font-family: "AngryBird";
	src: url("src/AngryBirdsText-Regular.ttf")
}
* {margin: 0; padding: 0;
	font-family: AngryBird, serif;}

#brick-board{
	left: 0;
	right: 0;
	width: 500px;
	height: 800px;
}

#main-div {
	width: 800px;
	margin: 0 auto;
	position: relative;
}

#info {
	display: block;
	width: 500px;
	height: 100px;
	border: 1px solid black;
	margin: 10px auto;
	position: relative;
	background-image: url("src/backgroundimg/화면1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}	/* canvas를 나타내는 것에서 div를 나타내도록 변경했습니다. */

#canvas_info {
	display: block;
	width: 250px;
	height: 100px;
	float: left;
}	/* 캔버스로 그린 정보를 나타내는 div입니다. */

#canvas_info canvas {
	margin: 5px 0;
}

#text_info {
	display: block;
	width: 250px;
	height: 50px;
	float: left;
	text-align: center;
	margin: 25px 0;
	font-weight: bold;
}	/* 글자로 표시된 정보를 나타내는 div입니다. */

.main-btn{
	display: none;
	width: 150px;
	height: 70px;
	margin: 5px;
	background-image: url("src/wood.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	line-height: 70px;
}

#settings{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 200px; left: 0;
	width: 500px;
	height: 400px;
	background-color: yellow;
}

#canvas-wrapper{
	position: relative;
	text-align: center;
	width: 500px;
	height: 800px;
	margin: 0 auto;
	border: 1px solid black;
}
#button-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 500px; left: 0;
	height: 300px;
	width: 500px;
}
.setting-item{
	display: flex;
	justify-content: left;
	align-items: center;
	margin: 10px;
	padding: 10px;
	background-color: antiquewhite;
	height: 50px;
	line-height: 40px;
	width: 400px;
}

.character{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 60px;
	margin-left: 10px;
}

.bird{
	vertical-align: middle;
	filter: grayscale(100);
}

.setting-name{
	width: 100px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.slider{
	width: 250px;
	margin-left: 10px;
}
#submit-setting{
	margin: 10px;
	background-color: red;
	width: 100px;
	height: 50px;
	line-height: 50px;
}
#before-start{
	position: absolute;
	line-height: 800px;
	font-size: 50px;
	top: 0; left:0;
	width: 500px; height: 800px;
	background-color: white;
}

.select-radio{
	display:none;
}
