@font-face {
	font-family: "AngryBird";
	src: url("src/AngryBirdsText-Regular.ttf")
}
* {margin: 0; padding: 0;
	font-family: AngryBird, "Pretendard ExtraLight", serif;
	font-weight: bold;
}
body{
	background-image: url("src/backgroundimg/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	user-select: none;
	cursor: none;
}
img{
	-webkit-user-drag: none;
}

#brick-board{
	left: 0;
	right: 0;
	width: 500px;
	height: 800px;
}

#main-div {
	width: 800px;
	margin: 0 auto;
	position: relative;
}

#info {
	display: block;
	width: 500px;
	height: 100px;
	border: 5px solid saddlebrown;
	margin: 10px auto;
	position: relative;
	background-image: url("src/backgroundimg/화면1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}	/* canvas를 나타내는 것에서 div를 나타내도록 변경했습니다. */

#canvas_info {
	display: block;
	width: 250px;
	height: 100px;
	float: left;
}	/* 캔버스로 그린 정보를 나타내는 div입니다. */

#canvas_info canvas {
	margin: 5px 0;
}

#text_info {
	display: block;
	width: 250px;
	height: 50px;
	float: left;
	text-align: center;
	margin: 25px 0;
}	/* 글자로 표시된 정보를 나타내는 div입니다. */

.main-btn{
	display: none;
	margin: 5px;
}

.wooden-btn{
	color: black;
	font-size: 18px;
	width: 150px;
	height: 70px;
	background-image: url("src/wood.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	line-height: 70px;
	transition: transform 100ms cubic-bezier(0.01, 0.3, 0.4, 2.35);
}
.wooden-btn:hover{
	transform: scale(1.1);
}

#submit-setting{
	width: 100px;
	height: 70px;
	background-image: url("src/wood.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	line-height: 70px;
	font-size: 18px;
}

#settings{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 200px; left: 0;
	width: 500px;
	height: 400px;
}

#canvas-wrapper{
	position: relative;
	text-align: center;
	width: 500px;
	height: 800px;
	margin: 0 auto;
	border: 5px solid saddlebrown;
}
#button-container{
	display: flex;
	flex-direction: row;

	justify-content: center;
	align-items: center;

	position: absolute;
	top: 500px; left: 0;
	height: 300px;
	width: 500px;
}
.setting-item{
	display: flex;
	justify-content: left;
	align-items: center;
	margin: 10px;
	padding: 10px;
	background-color: antiquewhite;
	height: 50px;
	line-height: 40px;
	width: 400px;
}

.character{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 60px;
	margin-left: 10px;
}

.bird{
	vertical-align: middle;
	filter: grayscale(100);
}

.setting-name{
	width: 100px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.slider{
	width: 250px;
	margin-left: 10px;
}

#before-start{
	position: absolute;
	line-height: 800px;
	font-size: 50px;
	top: 0; left: 0;
	width: 500px; height: 800px;
	background-color: transparent;
}

.select-radio{
	display:none;
}

#scoreboard{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#failure{
	display: none;
	font-size: 50px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 15px;
}

.popup{
	display: none;
	position: absolute;
	top: 200px; left: 50px;
	width: 400px;
	height: 400px;
	background-color: rgba(0, 0, 0, 0.7);
}

#failure-menu{
	display:flex;
}

#select-stage{
	height: 600px;
	top: 100px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 30px;
}


#submit-board{
	position: absolute;
	top: 400px;
	height: 300px;
	width: 300px;
	background-image: url("src/backgroundimg/scoresubmit.png");
	background-repeat: no-repeat;
	background-size: contain;
}
#submit-input{
	position: absolute;
	top: 63px;
	left: 40px;
	height: 40px;
	width: 200px;
	background: rgba(255, 255, 255, 0);
	border: none;
	font-size: 40px;
}

#submit-btn{
	position:absolute;
	top: 510px;
	right: 130px;
}

#scoreboard-nonexit{
	display: block;
	height: 300px;
}

table, th, td{
	border: 2px solid burlywood;
	border-collapse: collapse;
	color: white;
}
td{
	height: 30px;
}

#score{
	font-size: 30px;
	line-height: 50px;
}


#clear-stage{
	color: white;
	display: none;
	font-size: 50px;
	flex-direction: column;
	align-items: center;
	row-gap: 15px;
	justify-content: start;
	height: 600px;
	top: 100px;
	z-index: 3;
}

#star{
	height: 100px;
	width: 400px;
	display:flex;
	justify-content: center;
	align-items: center;
}
#star img{
	width: 100px;
	height: 100px;
}

#backlight{
	position: absolute;
	animation: rotating 6s linear infinite;
	border-radius: 50%;
	left: -50px;
	top: 10px;
	z-index: -1;
}

@keyframes rotating {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

#cursor{
	position: absolute;
	z-index: 100;
	width: 40px;
	height: 40px;
	background: transparent url("src/cursor.gif") 0 0 no-repeat;
}

#tutorial{
	flex-direction: column;
	color: white;
	height: 600px;
	top: 100px;
	justify-content: center;
	align-items: center;
}

.tutorial-item{
	vertical-align: middle;
	width: 40px;
	margin-left: 10px;
	margin-right: 10px;
}

.tutorial-row{
	width: 400px;
	height: 55px;
	line-height: 50px;
	text-align: left;
	align-items: center;
}

